.counter {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.btn {
    background-color: #399e92;
    color: white;
    height: 3rem;
    padding: 0.5rem 1rem;
}

.count {
    display: flex;
    justify-content: center;
    color: rgb(219, 143, 143);
    align-items: center;
    transform: scale(0.5);
    animation: scaleUp 1s ease forwards; 
}

@keyframes scaleUp {
    to {
        transform: scale(1); 
    }
}
